Day001/Course+Pledge+-+App+Brewery+100+Days+of+Python.pdf
.vscode/launch.json
Garmit_Fit_File_Functions/13919553428.zip
Garmit_Fit_File_Functions/main.py
Garmit_Fit_File_Functions/13919553428/13919553428_ACTIVITY.fit
Garmit_Fit_File_Functions/13919553428/fitfiletools (1).fit
Garmit_Fit_File_Functions/13919553428/fitfiletools.fit
Garmit_Fit_File_Functions/Backup/13919553428.zip
