<!DOCTYPE html>

<head>

    <title>Luke's Peanut Protien Calculator</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/pure-min.css" integrity="sha384-X38yfunGUhNzHpBaEBsWLO+A0HDYOQi8ufWDkZ0k9e0eXz/tH3II7uKZ9msv++Ls" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>

<h1>Peanut Protien Calculator</h1>

<body>

    <div class="main">
        <form class="pure-form" method="POST" action="/">
        Enter how much peanut protein you want:<br>
        <input type="text" name="weight"><br>
        <!-- Enter your height in cms:<br>
        <input type="text" name="height"><br> -->
        <button type="submit" class="pure-button-primar" value="Submit">Submit</button>
        </form>

    </div>

    <br>

    <div class="main">
        {% if bmi %}
            <p>You should take {{ bmi }}g of peanut [g=grams]</p>
        {% endif %}

    </div>


</body>